<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - floreria</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/floreria.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/images/floreria_logo_head.png" />

</head>
<body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid d-flex justify-content-between align-items-center px-4">
            <!-- Logo a la izquierda -->
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/images/floreria_logo.png" alt="Florería Logo" class="logo-header" />
            </a>

            <!-- Botón Iniciar Sesión a la derecha -->
            <a class="btn-sesion" asp-area="" asp-controller="Cuenta" asp-action="Login">Iniciar sesión</a>
        </div>
    </nav>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
